$css_color: #1572b6;
$sass_color: #CF649A;
$less_color: #1d365d;
$js_color: #F0DB4F;

$code-height: 30px;
$code-width: 56px;

//4. Code Box
.code_box_container{
  display: block;
  position: fixed;
  width: 230px;
  height: 100vh;
  top: 0;
  left: 0;
  transition: 1s;
  background: black;
  color: white;
}

.code_box{
  transition: .7s;
  height: 100vh;
  background: black;
  color: white;
  box-shadow: 0 0 0 10px #f8f8ff inset;
  padding: 15px;
  overflow-x: scroll;
  font-family: 'Caveat', cursive;
  box-shadow: 0 0 0 10px $css_color inset;
}

.line-separator{
  height: 2px;
  background: $css_color;
  width: 80%;
  margin-top: 1rem;
  transition: 1.5s;
  border: none;
}

//5. Code Toggle
.code_toggle{
  height: $code-height;
  width: 50%;
  color: white;
  text-align: center;
  line-height: $code-height;
  transition: 1s;
  cursor: pointer;
  font-family: 'Reenie Beanie', cursive;
  font-size: 18px;
  border: 0;
  &:focus{
    outline: none;
  }
}

//different backgrounds for different buttons
.code_toggle--css{
  composes: code_toggle;
  background: #1572b6;
}

.code_toggle--sass{
  composes: code_toggle;
  background: #CF649A;
}

.code_toggle--less{
  composes: code_toggle;
  background: #1d365d;
}

.code_toggle--js{
  composes: code_toggle;
  background: #F0DB4F;
}
