$css_color: #1572b6;
$sass_color: #CF649A;
$less_color: #1d365d;
$js_color: #F0DB4F;

$code-height: 30px;
$code-width: 56px;

//4. Code Box
.code_box_container{
  display: block;
  position: fixed;
  width: 230px;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: 1s;
  background: black;
  color: white;
}

.code_box{
  transition: .7s;
  height: 100%;
  background: black;
  color: white;
  box-shadow: 0 0 0 10px #f8f8ff inset;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  overflow: scroll;
  font-family: 'Caveat', cursive;
}

.code_box--css{
  composes: code_box;
  box-shadow: 0 0 0 10px $css_color inset;
}
.code_box--sass {
  composes: code_box;
  box-shadow: 0 0 0 10px $sass_color inset;
}
.code_box--less {
  composes: code_box;
  box-shadow: 0 0 0 10px $less_color inset;
}
.code_box--js {
  composes: code_box;
  box-shadow: 0 0 0 10px $js_color inset;
}

.code_box_border{
  height: .1rem;
  background: $css_color;
  margin-top: 1rem;
  transition: 1.5s;
}

.code_box_border--css{
  composes: code_box_border;
  background: $css_color;
}
.code_box_border--sass{
  composes: code_box_border;
  background: $sass_color;
}
.code_box_border--less{
  composes: code_box_border;
  background: $less_color;
}
.code_box_border--js{
  composes: code_box_border;
  background: $js_color;
}

//5. Code Toggle
.code_toggle{
  height: $code-height;
  width: 50%;
  color: white;
  text-align: center;
  line-height: $code-height;
  transition: 1s;
  cursor: pointer;
  font-family: 'Reenie Beanie', cursive;
  font-size: 18px;
  border: 0;
}

//different backgrounds for different buttons
.code_toggle--css{
  composes: code_toggle;
  background: #1572b6;
}

.code_toggle--sass{
  composes: code_toggle;
  background: #CF649A;
}

.code_toggle--less{
  composes: code_toggle;
  background: #1d365d;
}

.code_toggle--js{
  composes: code_toggle;
  background: #F0DB4F;
}
