$css_color: #1572b6;
$sass_color: #CF649A;
$less_color: #1d365d;
$js_color: #F0DB4F;

//4. Code Box
.code_box_container{
  display: block;
  position: fixed;
  width: 230px;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: 1s;
  background: black;
  color: white;
}

.code_box{
  transition: .7s;
  height: 100%;
  background: black;
  color: white;
  box-shadow: 0 0 0 10px #f8f8ff inset;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  overflow: scroll;
  font-family: 'Caveat', cursive;
  &.css_box{
    box-shadow: 0 0 0 10px $css_color inset;
  }
  &.sass_box {
    box-shadow: 0 0 0 10px $sass_color inset;
  }
  &.less_box {
    box-shadow: 0 0 0 10px $less_color inset;
  }
  &.js_box {
    box-shadow: 0 0 0 10px $js_color inset;
  }

}

.code_box_border{
  height: .1rem;
  background: $css_color;
  margin-top: 1rem;
  transition: 1.5s;
  &.css_border{
    background: $css_color;
  }
  &.sass_border{
    background: $sass_color;
  }
  &.less_border{
    background: $less_color;
  }
  &.js_border{
    background: $js_color;
  }
}
