.row{
  display: flex;
}

.column{
  width: calc(100%/3);
}

//header-container
.header-container {
  display: block;
  position: fixed;
  text-align: center;
  width: 200px;
  height: 100%;
  right: 0;
  color: white;
  background: black;
  $bord-var: 10px;
  font-family: 'Reenie Beanie', cursive;
  box-shadow: 0 0 0 $bord-var black inset;
}

.header{
  color: white;
  font-family: 'Reenie Beanie', cursive;
  margin: 0;
  font-size: 25px;
}

.label{
  order: 1;
  color: white;
}

.label-yellow{
  composes: label;
  composes: theme-yellow from "./_theme-colors.scss";
}

.input{
  color: white;
  order: 2;
  width: 100%;
  font-size: 15px;
  background: none;
  border: none;
  text-align: center;
}

.reset-button, .view-button{
  background: #000;
  text-align: center;
  color: white;
  cursor: pointer;
}

.color-button-styling{
  cursor: pointer;
  width: 88%;
  margin-left: 6%;
}

.button{
  background: #000;
  text-align: center;
  color: white;
  cursor: pointer;
}

.button-enhancers{
  cursor: pointer;
  height: 35px;
  line-height: 35px;
}

.view-button{
  margin-top: 0;
  border-bottom: 1px solid white;
  composes: button;
  composes: button-enhancers;
}

.draw-button{
  composes: button;
  composes: color-button-styling;
  composes: button-enhancers;
}

.reset-button{
  composes: color-button-styling;
  height: 50px;
  line-height: 50px;
  color: #FF4A00;
  text-transform: uppercase;
  transition: .8s;
  &.warning{
    color: #B33A3A;
  }
}

.color-input{
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  background: none;
  color: white;
  font-family: 'Reenie Beanie', cursive;
  text-align: center;
  background: transparent;
  font-size: 1.5rem;
}

.color-picker, .background-color-picker{
  display: block;
  color: black;
  margin-top: .5rem;

}

.letter{
  border-radius: 50%;
  border: 1px solid white;
  padding: 5px;
}

.desc_text{
  margin-left: 10px;
}

//to be moved to own file soon
