.choose-size{
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: 'Reenie Beanie', cursive;
  // justify-content: center;
  // align-items: center;
  &__header{
    padding: 0;
    margin: 0;
    flex-basis: 100%;
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background: #262626;
    font-family: 'Reenie Beanie', cursive;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
  }
  &__form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__label{
      flex-basis: 50%;
      text-align: center;
      height: 30px;
      line-height: 30px;
      font-size: 20px;
      text-transform: uppercase;
      &:nth-child(1){
        background: #82998F;
      }
      &:nth-child(2){
        background: #5FBF79;
      }
      &:nth-child(5){
        background: #BF975F;
      }
    }
    &__input{
      background: $dark-background-color;
      color: $medium-color;
      height: 30px;
      line-height: 30px;
      flex-basis: 50%;
      border:none;
      padding: 0;
      font-family: 'Reenie Beanie', cursive;
      font-size: 20px;
      &:nth-child(3){
        background: #82998F;
      }
      &:nth-child(4){
        background: #5FBF79;
      }
      &:nth-child(7){
        background: #BF975F;
        margin-top: -30px;
      }
    }
    &__button{
      flex-basis: 50%;
      background: #F2A030;
      font-family: 'Reenie Beanie', cursive;
      font-size: 20px;
      border: 0;
      cursor: pointer;
    }
  }
  &__column{
    width: 50%;
    float: left;
  }
}
