doctype
include ../jade/includes/_head.jade

body
  include ../jade/includes/app_components/_header.jade
  canvas(width = "500" height = "500")#canvasGrid.allow-handle-click
  div#container_div
  include ../jade/includes/_scripts.jade
include ../jade/includes/_footer.jade
